*{
  box-sizing: border-box;
  font-family: 'poppins' ;
}

a{
  text-decoration: none;
}

body{
  background-color: #229ed9;
  height: 100vh;
  overflow-y: hidden;
}

.background{
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.DivLogo {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
    width: 20%;
    height: 30%;
    position: absolute;
}

.main-play-btn{
  top: 40%;
  margin: 0px 20px;
  color: #ffffff;
  background: linear-gradient(97deg, rgba(108,203,255,1) 0%, rgba(0, 148, 255, 1) 100%);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;   
  border-radius: 14px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.13);
  font-family: Sigmar One;
  box-shadow: rgb(79, 148, 238) -0px 1px,
  rgb(15, 82, 144) -0px 2px,rgb(15, 82, 144) -0px 3px,
  rgb(15, 82, 144) -0px 4px,rgb(15, 82, 144) -0px 5px,
  rgb(15, 82, 144) -0px 6px,rgb(15, 82, 144) -0px 7px,
  rgb(15, 82, 144) -0px 8px,rgb(15, 82, 144) -0px 9px,
  rgb(15, 82, 144) -0px 10px,rgb(15, 82, 144) -0px 11px ;
  transform : translate3d(8px, -8px, 0)
}

.main-play-btn:before{
    position: absolute;
    content: '';
    left: 5px;
    top: 0px;
    z-index: 3;
    background-image: url(img/bg_btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.main-play-btn:hover{
    background: linear-gradient(97deg, rgba(255, 209, 64, 1) 0%,rgba(255, 177, 1, 1) 100% );
    box-shadow: #e3a700 -0px 1px,#e3a700 -0px 2px,
    #e3a700 -0px 3px,#e3a700 -0px 4px,
    #e3a700 -0px 5px,#e3a700 -0px 6px,
    #e3a700 -0px 7px,#e3a700 -0px 8px,
    #e3a700 -0px 9px,#e3a700 -0px 10px,
    #e3a700 -0px 11px;
    color: #1227e4;
}

.main-play-btn{
  left: 0;
  margin: 0 auto;
  width: 18%;
  height: 6%;
  font-size: 2rem;
  z-index: 99;
  margin-bottom: 19px;
}

.main-links {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 10%;
  left: 0;
  z-index: 999;
}

.main-links a,
.main-links span{
  color: #ffffff;
  font-size: 2rem;
  margin: 0px 10px;
  text-align: center;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
           1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.main-links a{
  text-decoration: underline;
}

@media(max-width:1300px){
  .main-play-btn {
    width: 30%;
  }
}

@media(max-width:1100px){
  .logo {
    width: 24%;
  }
  .main-play-btn {
    width: 40%;
  }
}

@media(max-width:960px){
  .logo {
    width: 28%;
  }
  .main-play-btn {
    width: 40%;
  }
}

@media(max-width:800px){
  .logo {
    width: 32%;
  }
  .main-play-btn {
    width: 50%;
  }
}

@media(max-width:650px){
  .logo {
    width: 36%;
  }
  .main-play-btn {
    width: 55%;
  }
}

@media(max-width:500px){
  .logo {
    width: 40%;
  }
  .main-play-btn {
    width: 60%;
  }
}

