@charset "UTF-8";
body{margin: 0%;padding: 0%; background-color:rgb(184, 184, 184);}
.info{
    position: fixed;
    top:10%;
    left: 30%;
    width:40%;
    border: 2px solid rgb(63, 62, 61); 
    background-image:linear-gradient(rgb(184, 184, 184),rgb(151, 145, 145));
    height:20%;
    font-size: 2.4vmax;
    text-align: center;
    padding-top: 5%;
    color:rgb(22, 20, 20);
    font-family: cursive;
    display: none;
}
.tableau{

    position: absolute;
    border: 3px solid rgb(112, 72, 25);
    border-radius: 10px;
    width: 70% ;
    height: 74%;
    top:13%;
    left: 15%;
}
.gauche{
    position: absolute;
    border: none;
    top:13%;
    z-index: 1;
    border-radius: 10px;
    left: 15%;
    width: 32% ;
    height:66%;
    background-color: transparent;
}
.droite{
    position: absolute;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    z-index: 1;
    left: 49%;
    top:13%;
    width: 36% ;
    height: 66%;
}
.emc, .emd ,.emg{
    position: absolute;
    background-size: 100% 100%;
    width: 1.5vmax;
    height: 2.5vmax;
    top: 50%;
}
.emc{
    left: 46%;
}
.emg{
    left: 40%; 
    transform: rotate(270deg); 
}
.emd{
    left: 52%;
    transform: rotate(90deg);
}
.piece{
    display:inline-block;
    border:0px;
    border-radius: 5%;
    background: no-repeat;
    background-size: 100% 100%;
}
.piece:hover{
    background-color: brown;
}

.joueur,.bot0,.bot1,.bot2,.infoBis{
    white-space:nowrap;
    overflow:hidden; 
    position: absolute;
}
.joueur{
    bottom: 1%;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.infoBis{
    width:100%;
    height:100%;
    z-index:1;
}

.infoBis button{
    cursor: pointer;
    position: absolute;
    left: 44%;
    top: 55%;
    width:8%;
    height:10%;
    border: none;
    background-color: transparent;
    background-image: url('img/recarre.png');
    border-radius: 100%;
    background-size: 100% 100%;
    display: none;
}
.bot0{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    right: 1%;
}

.bot0 .piece{
    width: 100px;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}

.bot0 .piece .top, .bot0 .piece .middle, .bot0 .piece .bottom,
.bot1 .piece .top, .bot1 .piece .middle, .bot1 .piece .bottom,
.bot2 .piece .top, .bot2 .piece .middle, .bot2 .piece .bottom{
    visibility: hidden;
}



.bot1{  
    display: flex;
    justify-content: center;
    top: 1%;
    width: 100%;
}
.bot1 .piece{
    width: 70px ;
    height: 100px;
    transform: rotate(180deg); 
    background-color: black;
    margin: 0px 15px 0px 15px;
}
.bot2{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 1%;
       
}
.bot2 .piece{

    width: 100px;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}
.passer{
    cursor: pointer;
    width:15%;
    position: absolute;
    bottom: 1%;
    background-color: rgb(24, 23, 23);
    border: none;
    color:whitesmoke;
    display:none;
    font-size: 2vmax;
}
footer{
    position: absolute;
    left: 33%;
    z-index: 1;
    bottom: 0%;
    display: none;
    border-top-left-radius: 60%;
    border-bottom-right-radius: 10%;
    color: rgb(245, 234, 234);
    font-size: 2.8vmax;
    text-align: center;
    background-color: rgb(54, 53, 53);
    width: 35%;
    height: 4.1vmax;
}
footer p{
    margin-top: 2.3%;
}
footer a{
    text-decoration: none;
    color: rgb(189, 189, 189);
}

.piece {
	box-sizing: border-box;
	width: 70px;
	height: 100px;
	border: 1px solid black;
	background-color: white;
	font-size: 10px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-image: none !important;;
    margin: 0px 15px 0px 15px;
 
}

.top {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom {
    width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    border-top: 2px solid black ;
}

/* .middle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;
	padding: 0 10px;
} */
